@use "abstract" as *;

@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }

  .bg-#{$key} {
    background-color: $value;
  }

  .text-hover-#{$key} {
    transition: color 0.3s ease-in;
    &:hover {
      color: lighten($value, 30%);
    }
  }

  .border-#{$key} {
    border: $base-border-thickness solid 1px $value;
  }

  .outline-#{$key} {
    outline: $base-border-thickness solid 1px $value;
  }
}
