@use "abstract" as *;

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  // display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn;
}

@each $key, $value in $colors {
  .btn-#{$key} {
    transition: all 0.5s ease-in-out;
    @include btn($value);

    &:hover {
      //   outline: $base-border-thickness solid $value;
      background-color: lighten($value, 10);
    }
  }

  .btn-outline-#{$key} {
    @include btn(transparent);
    border: $base-border-thickness solid $value;
    background-color: transparent;
    color: $value;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $value;
      color: $white;
    }
  }
}
