@use "abstract" as *;

.hero {
  //min-height: rem(668);
  min-height: 100vh;
  min-height: 100dvh;
  //height: 100%;
  display: flex;
  justify-content: flex-end;
  background: url(/assets/images/hero-section/background-stars.svg);
  background-color: $black;
  align-items: center;
  .hero-cta {
    display: flex;
    justify-content: center;
    @include breakpoints-up("lg") {
      justify-content: start;
    }
  }

  .hero__text {
    text-align: center;

    @include breakpoints-up("lg") {
      text-align: left;
      // max-width: 70%;
    }
  }

  #hero-menu-container {
    display: none;
    @include breakpoints-up("lg") {
      display: flex;
    }
  }

  .hero__image {
    max-width: 300px;
    border-radius: 50%;
    z-index: 1000;
    filter: drop-shadow(-2px 8px 11px $primary);
  }
}
