@use 'abstract' as *;

.hero {
    //min-height: rem(668);
    min-height: 100vh;
    min-height: 100dvh;
    //height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #2c2c2c;
    align-items: center;

    .hero__text {
        text-align: center;

        @include breakpoints-up("md") {
            text-align: left;
            // max-width: 70%;
        }
    }

    .hero__image {
        max-width: 400px;
        border-radius: 50%;
        filter: drop-shadow(-2px 8px 11px #62ff00);
    }
}