@use "abstract" as *;

.hero {
  //min-height: rem(668);
  min-height: 100vh;
  min-height: 100dvh;
  //height: 100%;
  display: flex;
  justify-content: flex-end;
  background: url(/assets/images/hero-section/background-stars.svg);
  background-color: $black;
  align-items: center;
  .hero-cta {
    display: flex;
    justify-content: center;
    @include breakpoints-up("lg") {
      justify-content: start;
    }
  }

  .hero__image--md {
    margin-top: 0;
    @include breakpoints-up("md") {
      margin-top: rem(80);
    }
    @include breakpoints-up("lg") {
      display: none;
    }
    img {
      max-width: rem(200);
      max-height: rem(200);
      border: 3px solid $primary;
      filter: drop-shadow(-2px 8px 11px $primary);
      background: #2c2c2c;
      margin-bottom: rem(10);
    }
  }
  .hero__text {
    text-align: center;

    @include breakpoints-up("lg") {
      text-align: left;
    }
  }

  #hero-menu-container {
    display: none;
    @include breakpoints-up("lg") {
      display: flex;
    }
  }

  .hero__image {
    max-width: rem(300);
    border-radius: 50%;
    z-index: 1000;
    filter: drop-shadow(-2px 8px 11px $primary);
  }

  .hero-cta__about {
    transition: background-color 0.5s ease-out;
    &:hover {
      background-color: rgba(216, 58, 52, 0.5);
    }
    .hero-cta__hire-arrows {
      position: relative;
      width: rem(48);
      height: rem(48);
      .arrow {
        height: 0.2rem;
        opacity: 0;
        position: absolute;
        transform: scale(0.1);
        width: 1.2rem;
        left: 25%;
      }
      .arrow:nth-child(1) {
        animation: move-arrow 2s linear 1s infinite;
      }
      .arrow:nth-child(2) {
        animation: move-arrow 2s linear 2s infinite;
      }
      .arrow:nth-child(3) {
        animation: move-arrow 2s linear 3s infinite;
      }
      .arrow:before,
      .arrow:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: $light;
      }
      .arrow:before {
        left: 0;
        transform: skewY(30deg);
      }
      .arrow:after {
        right: 0;
        width: 50%;
        transform: skewY(-30deg);
      }
      @keyframes move-arrow {
        25% {
          opacity: 1;
        }
        33.3% {
          opacity: 1;
          transform: translateY(2rem);
        }
        100% {
          opacity: 0;
          transform: translateY(2rem) scale(0.1);
        }
      }
    }
  }
}
