@use "abstract" as *;
.projects {
  .card {
    height: 300px;
    width: 400px;
    color: white;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 58, 52, 0.8);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .content * {
    transform: translateY(-70%);
    transition: all 0.3s ease;
    opacity: 0;
  }

  .content h2 {
    font-size: 35px;
    margin: 15px;
    font-weight: 700;
  }

  .content h3 {
    font-size: 23px;
    text-transform: uppercase;
  }

  .card:hover .content {
    opacity: 1;
  }

  .card:hover .content * {
    opacity: 1;
    transform: translateY(0);
  }

  .card:nth-child(1) {
    background-image: url("/assets/images/projects/we-construct.png");
  }
  .card:nth-child(2) {
    background-image: url("/assets/images/projects/search-country.jpg");
  }
  .card:nth-child(3) {
    background-image: url("/assets/images/projects/invoice-app.jpg");
  }
  .card:nth-child(4) {
    background-image: url("/assets/images/projects/barcode-finder.png");
  }
}
